
//variables

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100;1,300&display=swap');
$foont1: 'Roboto';
$color-principal: rgba(204, 204, 204, 0.537);
$color-letra: black;
$var1: 100%;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../imagenes/fondo.jpg);
}
section{
    text-align: center;
    background-color: white;
    background-size: ($var1)*0.2;
    background-repeat: no-repeat;
    background-image: url(../imagenes/torni.jpg);
    height: 150px;
    color: cornflowerblue;
    font-family: $foont1;
    h1{
        padding: 100px;
    }
}


footer{
    height: 200px;
    .redes{
        background-color: aqua;
    }
    i{
        font-size: 50px;
        color:black;
        letter-spacing: 20px;
    }
}

@import "_menu";